*{
    margin: 0;
    padding: 0;  
}
#all{
    width: 1366px;
    margin:0 auto;
}
.top {
    background-color: whitesmoke;	
    height: 100px; 
    display: flex;
    color: #1f232b;
    
}
#top_left,#top_right{
    width: 33%;
    height: 100px; 
    background-color:  whitesmoke;
}
#top_middle{ 
    flex:1; 
    width: 34%;
    height: 100px; 
    background-color: whitesmoke;
    font-size:17px;
    font-family: cursive;
    color: goldenrod;
}
#logo{
    height: 100px;
    padding-left: 25%
}
#sentence{
    text-align: center;
    padding-top: 30px;
}
ul.top{
    font-size: 20px;
    list-style-type:none;
    margin: 0;
    overflow: hidden;
}
li.top a.top{
    text-align: center;
    display:inline;
    padding-top: 60px;
}
li a:hover:not(.active) {
    background-color: #dddddd;
}
a.top{
    display:block;
    width:150px;
	background-color:whitesmoke;
}
.main{
	width:100%;
    height: 750px;;
    background: url('../image/login_bg.jpg') ;
    background-size: 100%; 
    font-family: Arial;
    color: #1f232b;
}
.side{
    height: 450px;
    position:relative;
    top:50%;
    transform:translateY(-50%);
}
.side .index{
	width: 330px;
	height: 400px;
    background-color:rgba(255,255,255,0.8);
    margin: auto;

}
.headline{
	font-size: 22px;
	text-align: center;
	padding: 20px;
}
input[type="text"],
input[type="submit"]{
	-web-kit-appearance:none;
  	-moz-appearance: none;
  	display: block;
  	margin: 0 auto;
  	font-size:15px;
  	width: 240px;
}
input[type="text"]{
	height:35px;
	border-radius:3px;
	border:1px solid #c8cccf;
	color:#6a6f77;
	outline:0;
}
input[type="submit"]{
	margin-top: 25px;
	height: 35px;
	background: #357eb8;
	color: white;
	font-weight: bold;
	font-size: 16px;
}
input[type="submit"]:hover{
	background: #0e62a3;
	cursor: pointer;
}
.prompt{
	margin: 5px 0 5px 42px;
	font-size:17px; 
	color: #1f232b;
}
.checkbox{
	display: block;
	float: left;
	margin-left: 46px;
	font-size: 15px;
}
.forget{
	display: block;
	float: right;
	margin-right: 46px;
	font-size: 15px;
}
.forget a{
	text-decoration: none;
}
footer {
    background-color:#1f232b;
    color: whitesmoke;
    clear:both;
    text-align:center;
    height:150px;
    display: flex;	 	 
}
.footer_left, .footer_right{
    width: 50%;
    margin:15px;
    font-size: 20px;
}
#footer_text{
    padding-left: 20px;
    text-align: left;
    font-family: Arial;
}
#footer_logo{
    float: right;
    height: 120px;
    padding-right: 120px;
}
a:hover,a:focus{
    outline:none !important;
    text-decoration:none;
}